/*#############
Author : Joseph Tan
description:
module is built with SASS + compass and SMACCS concept
#############*/
/* ##############
import compass modules
###############*/
/* line 17, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*################################
import site styles
############################*/
/* ###########################################################################
  Primary Colors
########################################################################### */
/* ###########################################################################
 Maximum & Minimum layout widths:
########################################################################### */
/* ###########################################################################
 Breakpoint settings
########################################################################### */
/*! Circle */
/*! Square */
/* line 1, ../scss/site/_base.scss */
body {
  font-family: Arial, sans-serif;
}
/* line 3, ../scss/site/_base.scss */
body h1, body h2, body h3, body h4, body h5, body h6, body strong {
  font-weight: bold;
}

/* line 6, ../scss/site/_base.scss */
.container {
  display: block;
  width: 100%;
}
/* line 9, ../scss/site/_base.scss */
.container button {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/* line 1, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 10;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 12, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .boxHolder {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 22, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .boxContainer {
  position: relative;
  top: 40%;
  display: block;
  max-width: 580px;
  height: auto;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: none;
  border: 1px solid #dddddd;
}
/* line 34, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .progress-title {
  color: white;
  padding: 10px;
  background: gray;
}
/* line 40, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .close {
  display: inline-block;
  width: 2;
  height: 2;
  background: #bcbcbc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-top: 2px;
  padding: 2px 5px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
/* line 50, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay h3 {
  display: inline-block;
  width: 95%;
}
/* line 52, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .progress-container {
  padding: 20px;
}
/* line 53, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .progress-container p {
  margin-top: 10px;
  text-align: center;
  vertical-align: top;
}
/* line 55, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .progress-container span.checked {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: url("../images/check.gif") no-repeat;
}
/* line 64, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .progress-bar {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 1px solid #dddddd;
}
/* line 71, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay .progress-bar span {
  padding: 10px 0;
}
/* line 78, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay #bar {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3YmNlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUwN2ZhMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77bcef), color-stop(100%, #507fa1));
  background: -webkit-linear-gradient(top, #77bcef, #507fa1);
  background: -moz-linear-gradient(top, #77bcef, #507fa1);
  background: -o-linear-gradient(top, #77bcef, #507fa1);
  background: linear-gradient(top, #77bcef, #507fa1);
}
/* line 81, ../scss/site/modules/_lightbox.scss */
.lightboxOverlay #bar.complete {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYmEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU0ODMwMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7dba00), color-stop(100%, #548303));
  background: -webkit-linear-gradient(top, #7dba00, #548303);
  background: -moz-linear-gradient(top, #7dba00, #548303);
  background: -o-linear-gradient(top, #7dba00, #548303);
  background: linear-gradient(top, #7dba00, #548303);
}

@media (max-width: 620px) {
  /* line 3, ../scss/site/partials/_breakpoints.scss */
  .lightboxOverlay .boxContainer {
    max-width: 80%;
  }
  /* line 6, ../scss/site/partials/_breakpoints.scss */
  .lightboxOverlay h3 {
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  /* line 13, ../scss/site/partials/_breakpoints.scss */
  .lightboxOverlay .boxContainer {
    max-width: 80%;
  }
  /* line 16, ../scss/site/partials/_breakpoints.scss */
  .lightboxOverlay h3 {
    max-width: 85%;
  }

  /* line 19, ../scss/site/partials/_breakpoints.scss */
  .container button {
    width: 20%;
  }
}
@media (max-width: 320px) {
  /* line 28, ../scss/site/partials/_breakpoints.scss */
  .lightboxOverlay h3 {
    max-width: 85%;
  }

  /* line 32, ../scss/site/partials/_breakpoints.scss */
  .container button {
    width: 20%;
  }
}
